body{
    margin: 0px;
    padding: 0px;
}
.navbar {
  height: 10vh;
}
.main {
  height: 80vh;
}
.fb-home{
    height: 85vh;
}

.download{
  height: 64vh;
}
@media (max-width: 900px) {
  .fb-home{
    min-height: 120vh;
  }
}
@media (max-width: 500px){
  .how-download{
    margin-top: 400px;
  }
}